.main{
    text-align: center;

}
.grid-container{
    display: grid;
    padding: 0;
    margin: 0;
}
<<<<<<< HEAD
.main{
    text-align: center;
display: block;
}
.grid-item{
    border: 10px solid;
=======
.grid-item{
    border: 10px solid black;
>>>>>>> d6936bdce0128eabcd78c9309f921d74ff5bdf94
    height:20px;
    width: 30px;
}
.controls{
    box-sizing: border-box;
    margin-left: auto;
    border: solid 1px;
    height: 20px;
    border-radius: 5px;
}